body {
  background-color: beige;
}

@media (min-width: 800px) {
  .grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;
  }
}

img {
  margin-bottom: 2rem;
}
.knap {
  color: rgb(101, 78, 78);
  border: solid;
  border-radius: 0.9rem;
  background-color: wheat;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  padding: 4px;
  margin-left: 335px;
}

.knap:hover {
  background-color: #cbb182;
}
