body {
  background-color: beige;
}

@media (min-width: 800px) {
  .grid5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

h3 {
  text-align: center;
}

.knap {
  color: rgb(101, 78, 78);
  border: solid;
  border-radius: 0.9rem;
  background-color: wheat;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  padding: 4px;
  margin-left: 325px;
}

.knap:hover {
  background-color: #cbb182;
}
