body {
  background-color: beige;
}
@media (min-width: 800px) {
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

h3 {
  text-align: center;
}

img {
  margin-bottom: 2rem;
}

.knap_m {
  color: rgb(101, 78, 78);
  border: solid;
  border-radius: 0.9rem;
  background-color: wheat;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  padding: 4px;
  margin-left: 325px;
}

.knap_e {
  color: rgb(101, 78, 78);
  border: solid;
  border-radius: 0.9rem;
  background-color: wheat;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  padding: 4px;
  margin-left: 320px;
}

.knap_e:hover {
  background-color: #cbb182;
}

.knap_m:hover {
  background-color: #cbb182;
}

.tekst {
  margin-bottom: 25rem;
}
